<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap uap3 desktop desktop4 desktop5 com rescap">

  <Identity
    Name="31896935-DD54-4362-ACDD-6DA496624671"
    Publisher="CN=ikas-mc-dev"
    Version="3.5.0.0" />

  <Properties>
    <DisplayName>Custom Context Menu (Github)</DisplayName>
    <PublisherDisplayName>touchwp</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.17763.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Custom Context Menu (Github)"
        Description="Custom Context Menu (Github) For Win11"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type="Directory"  >
              <desktop5:Verb Id="CustomMenu" Clsid="EB9DD180-53C8-4E8E-B61F-36FDD0D0CD13" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="*"  >
              <desktop5:Verb Id="CustomMenu" Clsid="EB9DD180-53C8-4E8E-B61F-36FDD0D0CD13" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory\Background">
              <desktop5:Verb Id="CustomMenu" Clsid="EB9DD180-53C8-4E8E-B61F-36FDD0D0CD13" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer  DisplayName="Custome Context Menu (Github)">
              <com:Class Id="EB9DD180-53C8-4E8E-B61F-36FDD0D0CD13" Path="ContextMenuCustomHost.dll" ThreadingModel="STA"/>
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>
		  <uap3:Extension Category="windows.appExecutionAlias">
			  <uap3:AppExecutionAlias>
				  <desktop:ExecutionAlias Alias="customeContextMenuDebug.exe"/>
			  </uap3:AppExecutionAlias>
		  </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
